
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;500;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}




li{
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    }
    
    a{
    text-decoration: none;
    position: relative;
    color: white;
    letter-spacing: 1px;
    }
    
    .link__hover-effect::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
    }
    
    .link__hover-effect:hover::after{
    width: 100%;
    left: 0;
    }
    
    /* NAVIGATION */
    
    /* .section__one{
    background: url(https://dev.d24jig8s1lr7n9.amplifyapp.com/img/carpark.8742e246.jpeg);
    background-size: cover;
    }
    
     */
    .bg_color{
        background-color: rgba(121, 5, 91, 81);
        padding-bottom: 60px;
    }
    
    
    /* .logo{
    width: 200px;
    margin: 0 12px;
    margin-left: -120px;
    } */
    
    .main--title{
      font-size: 40px;
      color: #e31816;
      font-weight: 600;
    }

    .contact__btn{
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
    
    nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .nav__link--lists{
    display: flex;
    margin-right: -140px;
    }
    
    .nav__link--anchor{
    margin: 0 25px;
    text-decoration: none;
    }
    
    .nav__link-anchor-primary{
    background-color: #e31816;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms;
    }
    
    .nav__link-anchor-primary:hover{
    background-color: #ff328f;;
    }
    
    .browse{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    color: white;
    padding-bottom: 40px;
    }
    
    
    .input-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    }
    .search__icon{
    width: 40px;
    
    }
    .search__bar{
    border-radius: 20px;
    padding: 15px  150px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .label{
    background-color: white;
    padding: 15px 20px;
    border-radius: 25px;
    display: flex;
    align-content: center;
    width: 500px;
    margin: 0 auto;
    }
    
    .icon{
    width: 30px;
    /* display: flex;
    justify-content: flex-end; */ 
    }
    
    .input{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-right: 200px;
    }
    
    /*SECTION TWO*/

.price__range{
    display: flex;
    justify-content: flex-end;
    margin-top: -55px;
    padding-right: 215px;
    font-size: 14px;
}

.search__results{
    padding-top: 60px;
    padding-left: 200px;
    font-size: 14px;
    letter-spacing: .01em;

}

.purple{
    color: #6030b1;
}


.user-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    /**/
    text-align: center;
  }
  
  .user {
    width: 50%;
  }
  
  .user-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .user-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .user-card__container {
    padding: 2px 16px;
  }


