@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}



.main-section{
  display: flex;
}

ul{
  display: flex;
  justify-content: center;
   background-color: rgba(121, 5, 91, 81);
   padding-top: 24px;
   padding-bottom: 32px;

}

li{
  list-style-type: none;
  padding-left: 16px;
}

nav{

  display: flex;
   height: 70px;
  justify-content: space-between;
 
  
  
}

a{
  color: white;
  font-size: 27px;
  font-weight: 600;
  padding: 0 16px;
  text-decoration: none;
  
}
a:hover {
  text-decoration: underline;
  display: inline-block;
  position: relative;
}


.main-title{
  font-weight: 600;
  font-size: 75px;
  margin-right: 234px;
  margin-top: -24px;
  color: #e31816;
}



/* 
li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
  position: relative;
  color: white;
  letter-spacing: 1px;
}
.nav__link--anchor.link__hover-effect.link__hover-effect--white{
  margin: -100px !important;
} */

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
} 



/* NAVIGATION */


.bg_color {
  background-color: rgba(121, 5, 91, 81);
  padding-bottom: 60px;
}



.main--title {
  font-size: 40px;
  color: #e31816;
  font-weight: 600;
}

.contact-Sbtn {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav__link--lists {
  display: flex;
  margin-right: -140px;
} */


.contact-btn{
  text-decoration: none;
}

.nav__link--anchor {
  margin: 0 25px;
  text-decoration: none;
}

.nav__link-anchor-primary {
  background-color: #e31816;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms;
}

.nav__link-anchor-primary:hover {
  background-color: #ff328f;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.browse {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color: white;
  padding-bottom: 40px;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.search__icon {
  width: 40px;
}
.search__bar {
  border-radius: 20px;
  padding: 15px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  background-color: white;
  padding: 15px 20px;
  border-radius: 25px;
  display: flex;
  align-content: center;
  width: 500px;
  margin: 0 auto;
}

.icon {
  width: 30px;
  /* display: flex;
    justify-content: flex-end; */
}

.srch-btn{
  border: none;
  background-color: white;
  cursor: pointer;
}

.input {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-right: 200px;
  outline-width: 0;
}

/*SECTION TWO*/

.price__range {
  display: flex;
  justify-content: flex-end;
  margin-top: -55px;
  padding-right: 215px;
  font-size: 14px;
}

.search__results {
  padding-top: 60px;
  padding-left: 200px;
  font-size: 14px;
  letter-spacing: 0.01em;
}

.purple {
  color: #6030b1;
}

.user-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  /**/
  text-align: center;
  justify-content: center;
  align-items: center;
  
  
}

.user {

  display: flex;
  flex-direction: column;
}


.user-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
    max-width: 400px;
    max-height: 370px;
    padding: 5px;
   
  
}

.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.user-card__container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
width: 100%;
}



img {
  max-width: 250px;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.search__results{
  margin-bottom: 40px;
}
.user-card:nth-child(-n+6) {
  display: block;
}

.user-card:nth-child(n+6) {
  display: none;
}



/*  Media Queries */

 @media (max-width: 1335px) {
  a{
   font-size: 20px;
  }
  .main-title{
    font-size: 53px;
  }
} 

@media (max-width: 1122px) {
  a{
   font-size: 10px;
  }
  .main-title{
    font-size: 32px;
  }
  .browse{
    font-size: 28px;
  }
} 

@media(max-width: 528px) {
  .input{
    font-size: 12px;
  }
}


@media(max-width: 537px) {
  .label{
    width: 241px;
  }
}

@media(max-width: 858px) {
  .nav__link--anchor.link__hover-effect.link__hover-effect--white{
    display: inline-block;
  }
}


@media(max-width: 546px) {
.input{
  width: 0;
}
.srch-btn{
  margin: -10px;
}
}


@media(max-width: 841px) {
  .bg_color{
    display: inline-block;
  }
  }

@media(max-width: 507px) {
  .bg_color{
    display: inline-block;
  }
  }

   @media(max-width: 673px) {
    .user{
      padding-left: 128px;
    }
    }

    @media(max-width: 584px) {
      .user{
        padding-left: 200px;
      }
      }


     @media(max-width: 440px) {
      .user{
        padding-left: 160px;
      }
      }
      @media(max-width: 422px) {
        .user{
          padding-left: 348px;
        }
        } 
        @media(max-width: 266px) {
          .user{
            padding-left: 508px;
          }
          }   


          @media(max-width: 480px) {
            .container{
              max-width: 480px !important;
            }
            }   